<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Quote Trivia - Play</title>
</head>
<body>
    <h2>Question {{ current_question + 1 }}</h2>
    <p>{{ question }}</p>
    <form action="{{ url_for('play') }}" method="get">
        {% for option, movie in options.items() %}
            <label>
                <input type="radio" name="user_answer" value="{{ option }}" required>
                {{ option }}) {{ movie }}
            </label><br>
        {% endfor %}
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="current_question" value="{{ current_question + 1 }}">
        <button type="submit">Next</button>
    </form>
</body>
</html>
