export OS_AUTH_URL=WWW.1234.COM
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=Python
export OS_PROJECT_DOMAIN_NAME=123.456.789.0
export OS_USERNAME=User 1
export OS_USER_DOMAIN_NAME=1111111
export OS_PASSWORD=Password
